<div><table border="4" width="641" cellspacing="0" cellpadding="0"><tbody><tr><td colspan="3" width="641">
    <p style="margin-left: 10px">  Dear Colleagues,</p>
    <p style="margin-left: 10px">  Our team member will be on annual leave (or part thereof), as per the following details:</p>
    </td></tr><tr><td width="155">
    <p style="margin-left: 10px"><strong>  Name</strong></p></td><td width="33"><p style="margin-left: 10px">  :</p></td><td width="453">
    <p style="margin-left: 10px">  {{ employee }}</p></td></tr><tr><td width="155">
    <p style="margin-left: 10px"><strong>  Leave Start Date</strong></p></td><td width="33"><p style="margin-left: 10px">  :</p></td><td width="453">
    <p style="margin-left: 10px">  {{ from_date }}</p></td></tr><tr><td width="155">
    <p style="margin-left: 10px"><strong>  Leave End Date</strong></p></td><td width="33"><p style="margin-left: 10px">  :</p></td><td width="453">
    <p style="margin-left: 10px">  {{ to_date }}</p></td></tr><tr><td width="155">
    <p style="margin-left: 10px"><strong>  Leave Relievers</strong></p></td><td width="33"><p style="margin-left: 10px">  :</p></td><td width="453">
    <p style="margin-left: 10px">  {{ leave_reliefers }}</p></td></tr><tr><td colspan="3" width="641">
    <p style="margin-left: 10px">  This is for your Information and Reference.</p>
    </td></tr></tbody></table></div>