<h2 style="font-family: Arial, sans-serif; text-align: center;">Sales Invoice Collection Tracking</h2>
<h3 style="font-family: Arial, sans-serif; text-align: left;">{{ fromuser }} has assigned Collection Tracking for Sales Invoice <a href="{{ frappe.utils.get_url_to_form('Sales Invoice', si) }}">{{ si }}</a> to {{ actionby }}</h3>
<h4 style="font-family: Arial, sans-serif; text-align: left;">Customer: {{ customer }}</h4>
<h4 style="font-family: Arial, sans-serif; text-align: left;">Sales Invoice Date: {{ frappe.format(invoice_date, {'fieldtype': 'Date'}) }}</h4>
<h4 style="font-family: Arial, sans-serif; text-align: left;">Outstanding Amount (AED): {{ frappe.format(outstanding, {'fieldtype': 'Float'}) }}</h4>
<h4 style="font-family: Arial, sans-serif; text-align: left;"><br><br>Collection Tracking Log</h4>
    <table style="width: 100%;">

            <tr>
                <td style="width: 15%; text-align: center; font-weight: bold; ">Date</td>
                <td style="width: 15%; text-align: left; font-weight: bold;">User</td>
                <td style="width: 70%; text-align: left; font-weight: bold;">Remark</td>
            </tr>
            {% for log in tracking_log %}
            <tr>
                <td style="width: 15%; text-align: center; vertical-align: top;">{{frappe.utils.formatdate(log.date, "dd-MM-yyyy")}}</td>
                <td style="width: 15%; text-align: left; vertical-align: top;">{{ log.user }}</td>
                <td style="width: 70%; text-align: left; vertical-align: top;">{{ log.remark }}</td>
            </tr>
            {% endfor %}

    </table>