<div><table border="4" width="641" cellspacing="0" cellpadding="0"><tbody><tr><td colspan="3" width="641">
</td></tr><tr><td width="155">
<p style="margin-left: 10px"><strong>  Issue No</strong></p></td><td width="33"><p style="margin-left: 10px">  :</p></td><td width="453">
<p style="margin-left: 10px">  <a href= {{ issue_link }}>{{ issue }}</a></p></td></tr><tr><td width="155">
<p style="margin-left: 10px"><strong>  Date</strong></p></td><td width="33"><p style="margin-left: 10px">  :</p></td><td width="453">
<p style="margin-left: 10px">  {{ date }}</p></td></tr><tr><td width="155">
<p style="margin-left: 10px"><strong>  Raised By</strong></p></td><td width="33"><p style="margin-left: 10px">  :</p></td><td width="453">
<p style="margin-left: 10px">  {{ raised_by }}</p></td></tr><tr><td width="155">
<p style="margin-left: 10px"><strong>  Type</strong></p></td><td width="33"><p style="margin-left: 10px">  :</p></td><td width="453">
<p style="margin-left: 10px">  {{ type }}</p></td></tr><tr><td width="155">
<p style="margin-left: 10px"><strong>  Criticality</strong></p></td><td width="33"><p style="margin-left: 10px">  :</p></td><td width="453">
<p style="margin-left: 10px">  {{ criticality }}</p></td></tr><tr><td width="155">
<p style="margin-left: 10px"><strong>  Ref Doc Type</strong></p></td><td width="33"><p style="margin-left: 10px">  :</p></td><td width="453">
<p style="margin-left: 10px">  {{ ref_doctype }}</p></td></tr><tr><td width="155">
<p style="margin-left: 10px"><strong>  Ref Document</strong></p></td><td width="33"><p style="margin-left: 10px">  :</p></td><td width="453">
<p style="margin-left: 10px">  {{ document }}</p></td></tr><tr><td width="155">
<p style="margin-left: 10px"><strong>  Issue Description</strong></p></td><td width="33"><p style="margin-left: 10px">  :</p></td><td width="453">
<p style="margin-left: 10px">  {{ description }}</p></td></tr><tr><td width="155">
<p style="margin-left: 10px"><strong>  Screen shot</strong></p></td><td width="33"><p style="margin-left: 10px">  :</p></td><td width="453">
<p style="margin-left: 10px">{{ image }}</p></td></tr><tr><td width="155">
<p style="margin-left: 10px"><strong>  Response</strong></p></td><td width="33"><p style="margin-left: 10px">  :</p></td><td width="453">
<p style="margin-left: 10px">  {{ response }}</p></td></tr><tr><td width="155">
<p style="margin-left: 10px"><strong>  Response Image</strong></p></td><td width="33"><p style="margin-left: 10px">  :</p></td><td width="453">
<p style="margin-left: 10px">{{ response_image }}</p></td></tr><tr><td width="155">
<p style="margin-left: 10px"><strong>  Feedback</strong></p></td><td width="33"><p style="margin-left: 10px">  :</p></td><td width="453">
<p style="margin-left: 10px">  {{ feedback }}</p></td></tr><tr><td width="155">
</td></tr></tbody></table></div>