<div>
    <table border="4" width="640" cellspacing="0" cellpadding="10">
        <tbody>
            <tr>
                <td colspan="2" width="640">
                <p style="margin-left: 10px">  Dear All,</p>
                <p style="margin-left: 10px">  Please note that the below employee will be conducting a visit as per the below:</p>
                </td>
            </tr>
            <tr>
                <td width="140"><p style="margin-left: 10px"><strong>  Employee</strong></p></td>
                <td width="500"><p style="margin-left: 10px">  {{ employee }}</p></td>
            </tr>
            <tr>
                <td width="140"><p style="margin-left: 10px"><strong>  Visiting</strong></p></td>
                <td width="500"><p style="margin-left: 10px">  {{ visiting }}</p></td>
            </tr>
            <tr>
                <td width="140"><p style="margin-left: 10px"><strong>  Visit Date</strong></p></td>
                <td width="500"><p style="margin-left: 10px">  {{ date }}</p></td>
            </tr>
            <tr>
                <td width="140"><p style="margin-left: 10px"><strong>  Location</strong></p></td>
                <td width="500"><p style="margin-left: 10px">  {{ location }}</p></td>
            </tr>
            <tr>
                <td width="140"><p style="margin-left: 10px"><strong>  Brand</strong></p></td>
                <td width="500"><p style="margin-left: 10px">  {{ brand }}</p></td>
            </tr>
            <tr>
                <td colspan="2" width="640"><p style="margin-left: 10px">  This is for your Information and Record.</p></td>
            </tr>
        </tbody>
    </table>
</div>